*{margin: 0; padding: 0; box-sizing: border-box;}
.fl{float: left;}
.fr{float: right;}
.warpper{
    width: 100%;
    height: 100vh;
    background-image: url('registration.png');
	min-height: 100%;
  			min-width: 1024px;
  			background-repeat: repeat;
  			background-position: center;
  			background-size: cover;
			font-size: 24px;
			width: 100%;
 			height: 100%;
 		 	position: fixed;
  			top: 0;
  			left: 0;
		  }
.main{
    height:745px;
    width:40%;
    background-color: rgba(0, 50, 150, 0.2);
 	overflow: hidden;
 	border-radius: 15px;
    margin-top: 8px;
    margin-left: 30%;
    
}
h1{
  color: solidblack;
  text-align:center;
  margin: 30px 0;
  letter-spacing:1px;
  font-size:28px;
}
.intpt{
    display: block;
    width: 65%;
    margin: 16px auto;
    background-color: #e0e5ec;
    box-shadow:9px 9px 16px #a3b1c699,
    -9px -9px 16px #ffffff80 ;
    border: 1px solid #e0e5ec;
    color: #456990;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
}
.intpt:hover{
    box-shadow: inset -10px -10px 30px 0 #ffffffb3,
    inset 10px 10px 30px 0 #00000033;
}
.intpt::placeholder{
    font-size: 16px;
    font-weight: bold;
    color: #4a8383;
}
.intpt:focus::-webkit-input-placeholder
  {
  color: #1abc9c;
        font-size: 16px;
        font-weight: bold;
  -webkit-transform: translateY(-15px);
        transform: translateY(-15px);      
 }
.dob{
    display: block;
    width: 65%;
    margin: 5px auto;
    background-color: #e0e5ec;
    box-shadow:9px 9px 16px #a3b1c699,
    -9px -9px 16px #ffffff80 ;
    border: 1px solid #e0e5ec;
    color: #456990;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
}
.dob:hover{
    box-shadow: inset -10px -10px 30px 0 #ffffffb3,
    inset 10px 10px 30px 0 #00000033;
}
.dob::placeholder{
    font-size: 16px;
    font-weight: bold;
    color: #4a8383;
}
.dob:focus::-webkit-input-placeholder
  {
  color: #1abc9c;
        font-size: 16px;
        font-weight: bold;
  -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
}
.bott{
    width: 65%;
    margin: auto;
}
.btn{
    width: 45%; 
    padding: 15px 10px;
    background: rgb(214, 214, 214);
  border: none;
  border-radius: 45px;
  color: #EB5758;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 #ffffffb3,
 7px 7px 20px 0 #00000033;
}
.btn:hover {
    box-shadow: inset -7px -7px 20px 0 #ffffffb3,
    inset 7px 7px 20px 0 #00000033;
  }
